.PrompterWindow{
  background: black;
  margin-top: 20px;
  margin-left: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  color: white;
  font-size: small;
  border-radius: 20px 20px 20px 20px;
  box-sizing: border-box;
  padding: 3px;
  font-family: Consolas, serif;
  border: 2px solid #292929;



}
.TopBar{
  background: #242424;
  height: 4lvh;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 5px;

}
.PlayButton{
  height: 25px;
  width: 25px;
  padding: 10px;
  background:url('../image/play.png') no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;



}
.StopButton{
  height: 25px;
  width: 25px;
  padding: 10px;
  background:url('../image/stop.png') no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  margin-left: 10px;



}
.PrompterCode{
  height: calc(100% - 4lvh - 5px - 6px);
  border-radius: 0 0 20px 20px;
  overflow: scroll;
  overflow-x: hidden;

}
::-webkit-scrollbar{
  background: rgba(43,43,43,100);
  border-radius: 20px 20px 20px 20px;
}
::-webkit-scrollbar-thumb{
  background: rgba(92,92,92,100);
  border-radius: 20px 20px 20px 20px;
}